.footer {
  margin-bottom: var(--cabecera-height);
  padding: 0.5rem;
  text-align: center;
  color: var(--white-color);
  background-color: var(--black-color);
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-bottom: 0;
  }
}
