/* **** HeroImage **** */

.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  font-size: 7.5vw;
  color: var(--hero-text-color);
  margin-bottom: 1rem;
}

/* ***** Utilities ***** */

.boton {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}

/* *** Boton Log In *** */

.boton-ln {
  border-radius: 1rem;
  padding: 0;
  display: inline-block;
  width: 80px;
  height: 38px;
  font-weight: bold;
  font-family: var(--font);
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--second-color);
  border-color:transparent ; 
  cursor: pointer;
}

.boton-ln:hover{
  transition: 0.5s ease;
  opacity: 0.9 ;
}

.boton-ln:active{
  border-color: var(--white-color);
}

.log-in{
  position: absolute;
  padding: 0.7rem;
}

