



/* ***** Site Styles ****** */

.about > article {
  margin-bottom: 2rem;
}

.sc-media > a {
  padding: 0 0.4rem;
  text-decoration: none;
}

.sc-media svg {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    align-content: center;
  }

  .contact-cards {
    grid-template-columns: repeat(4, 24%);
  }
}

/*Utilities*/

.none {
  display: none;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.text-center {
  text-align: center;
}

.section {
  padding: 2rem 1rem;
}

.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 300px;
  text-align: center;
  color: var(--title-color);
}
