/* **** Carta ****** */
.carta {
  position: fixed;
  left: 0;
  right: 0;
  bottom: var(--cabecera-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  background-color: var(--second-color);
  
}

.carta.is-active {
  opacity: 1;
  pointer-events: auto;
 
}
.carta a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
}

.carta a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}
.carta-boton {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
}

.carta-boton svg {
  fill: var(--first-color);
}

/*Otros (estan en utilities del styles.css)*/

.conteiner {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  
}

.none {
  display: none;
}

.cabecera {
  position: fixed;
  
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 0.5rem 1rem;
  width: 100%;
  height: auto;
  background-color: var(--second-color);
}

.cabecera > .conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

/*Media query del componente carta*/
@media screen and (min-width: 1024px) {
  .carta-boton {
    display: none;
  }

  .carta {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .carta a {
    padding: 0 1rem;
  }

  .carta a:last-child {
    padding-right: 0;
  }

  .carta a:hover {
    background-color: transparent;
  }

  .cabecera {
  
    bottom: 0;
    padding: 0.5rem;
    height: calc(var(--header-height)-0.5rem);
}



}

