<section id="portafolio" class="portfolio section">
  <div class="container">
    <h2 class="section-title">My work</h2>
    <a href="#trabajo-1" class="portfolio-card">
      <img src="assets/card-portfolio1.png" alt="Trabajo 1" />
      <aside class="portfolio-card-info">
        <div>
          <h3>Proyect 1: Angular</h3>
          <p>
            This project was the integrating work of the full stack web
            development course of the Argentina Program Edition 4. It consisted
            in the development of a portfolio using tools such as JavaScript,
            Typescript, Angular, Bootstrap, Mysql, among others.
          </p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-2" class="portfolio-card">
      <img src="assets/card-portfolio2.png" alt="Trabajo 2" />
      <aside class="portfolio-card-info">
        <div>
          <h3>Proyect 2: Figma</h3>
          <p>
            In this development of a digital interface for a display of
            information and control of agricultural machinery, figma was used
            for the layout and prototyping.
          </p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-3" class="portfolio-card">
      <img src="assets/card-portfolio2.png" alt="Trabajo 3" />
      <aside class="portfolio-card-info">
        <div>
          <h3>Proyect 3: Figma</h3>
          <p>Coming soon: App design</p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-4" class="portfolio-card">
      <img src="assets/card-portfolio4.png" alt="Trabajo 4" />
      <aside class="portfolio-card-info">
        <div>
          <h3>Proyect 4: Blender</h3>
          <p>
            In this oppórtunity I made a 3d model in blender of a presentation
            card. I animated and rendered it as an 8 sec video. It was a one
            week job.
          </p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-5" class="portfolio-card">
      <img src="assets/card-portfolio5.png" alt="Trabajo 5" />
      <aside class="portfolio-card-info">
        <div>
          <h3>Proyect 5: SolidWorks + Blender</h3>
          <p>
            For this proyect I used SolidWorks for modeling and blender to
            adjust product's details, create the enviroment, animate and render.
            Process took 3 weeks.
          </p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-6" class="portfolio-card">
      <img src="assets/card-portfolio6.png" alt="Trabajo-6" />
      <aside class="portfolio-card-info">
        <div>
          <h3>Coming soon</h3>
          <p></p>
        </div>
      </aside>
    </a>
  </div>
</section>
<article class="modal" id="trabajo-1">
  <div class="modal-content">
    <a href="#cerrar" class="modal-close">
      <svg
        width="28"
        height="28"
        viewBox="0 0 28 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14 0.666748C6.64802 0.666748 0.666687 6.64808 0.666687 14.0001C0.666687 21.3521 6.64802 27.3334 14 27.3334C21.352 27.3334 27.3334 21.3521 27.3334 14.0001C27.3334 6.64808 21.352 0.666748 14 0.666748ZM19.6094 17.7241L17.724 19.6094L14 15.8854L10.276 19.6094L8.39069 17.7241L12.1147 14.0001L8.39069 10.2761L10.276 8.39075L14 12.1147L17.724 8.39075L19.6094 10.2761L15.8854 14.0001L19.6094 17.7241Z"
          fill="#CCCCCC"
        />
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="assets/card-portfolio1.png" alt="Trabajo-1" />

      <div class="portfolio-info">
        <h3>Proyect 1</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed
          sapiente, sunt minus ab quo, aliquid sequi aliquam laboriosam tenetur
          itaque voluptatum mollitia commodi doloribus pariatur nisi voluptates
          laborum voluptatem nulla!
        </p>
        <aside class="portfolio-details">
          <small><b>CLIENT</b></small>
          <small>Client's name</small>
          <small><b>DATE</b></small>
          <small>22/22/2222</small>
          <small><b>CATEGORY</b></small>
          <small>proyect CATEGORY</small>
          <small><b>LINK</b></small>
          <small
            ><a href="https://luchomoore.com" target="_blank" rel="noopener"
              >https://luchomoore.com</a
            ></small
          >
        </aside>
      </div>
    </article>
  </div>
</article>
<article class="modal" id="trabajo-2">
  <div class="modal-content">
    <a href="#cerrar" class="modal-close">
      <svg
        width="28"
        height="28"
        viewBox="0 0 28 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14 0.666748C6.64802 0.666748 0.666687 6.64808 0.666687 14.0001C0.666687 21.3521 6.64802 27.3334 14 27.3334C21.352 27.3334 27.3334 21.3521 27.3334 14.0001C27.3334 6.64808 21.352 0.666748 14 0.666748ZM19.6094 17.7241L17.724 19.6094L14 15.8854L10.276 19.6094L8.39069 17.7241L12.1147 14.0001L8.39069 10.2761L10.276 8.39075L14 12.1147L17.724 8.39075L19.6094 10.2761L15.8854 14.0001L19.6094 17.7241Z"
          fill="#CCCCCC"
        />
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="assets/card-portfolio-2.png" alt="Trabajo-2" />
      <div class="portfolio-info">
        <h3>Proyect 2</h3>
        <p>
          In this development of a digital interface for a display of
          information and control of agricultural machinery, figma was used for
          the layout and prototyping.
        </p>
        <aside class="portfolio-details">
          <small><b>CLIENT</b></small>
          <small>Metalfor S.A.</small>
          <small><b>DATE</b></small>
          <small>08/12/2022</small>
          <small><b>CATEGORY</b></small>
          <small>User Interface</small>
          <small><b>LINK 1</b></small>
          <small
            ><a
              href="https://www.figma.com/proto/Ow8kPPjFVZpzGS5YW7ZVZS/Pantalla-cosechadora?node-id=1182%3A1253&starting-point-node-id=1182%3A1253"
              target="_blank"
              rel="noopener"
              >HARVESTER PROTOTIPE</a
            ></small
          >
          <small><b>LINK 2</b></small>
          <small
            ><a
              href="https://www.figma.com/proto/D9f5jSaERPEVfUdH3C0GBW/Pantalla-Pulverizadora-Prototipo?node-id=37%3A4213&scaling=min-zoom&page-id=0%3A1&starting-point-node-id=27%3A870"
              target="_blank"
              rel="noopener"
              >SPRAYER PROTOTIPE</a
            ></small
          >
        </aside>
      </div>
    </article>
  </div>
</article>
<article class="modal" id="trabajo-3">
  <div class="modal-content">
    <a href="#cerrar" class="modal-close">
      <svg
        width="28"
        height="28"
        viewBox="0 0 28 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14 0.666748C6.64802 0.666748 0.666687 6.64808 0.666687 14.0001C0.666687 21.3521 6.64802 27.3334 14 27.3334C21.352 27.3334 27.3334 21.3521 27.3334 14.0001C27.3334 6.64808 21.352 0.666748 14 0.666748ZM19.6094 17.7241L17.724 19.6094L14 15.8854L10.276 19.6094L8.39069 17.7241L12.1147 14.0001L8.39069 10.2761L10.276 8.39075L14 12.1147L17.724 8.39075L19.6094 10.2761L15.8854 14.0001L19.6094 17.7241Z"
          fill="#CCCCCC"
        />
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="assets/card-portfolio-3.jpg" alt="Trabajo-3" />
      <div class="portfolio-info">
        <h3>Proyect 3</h3>
        <p>Coming soon</p>
        <aside class="portfolio-details">
          <small><b>CLIENT</b></small>
          <small>---</small>
          <small><b>DATE</b></small>
          <small>--/--/----</small>
          <small><b>CATEGORY</b></small>
          <small>---</small>
          <small><b>LINK</b></small>
          <small><a href="" target="_blank" rel="noopener">---</a></small>
        </aside>
      </div>
    </article>
  </div>
</article>
<article class="modal" id="trabajo-4">
  <div class="modal-content">
    <a href="#cerrar" class="modal-close">
      <svg
        width="28"
        height="28"
        viewBox="0 0 28 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14 0.666748C6.64802 0.666748 0.666687 6.64808 0.666687 14.0001C0.666687 21.3521 6.64802 27.3334 14 27.3334C21.352 27.3334 27.3334 21.3521 27.3334 14.0001C27.3334 6.64808 21.352 0.666748 14 0.666748ZM19.6094 17.7241L17.724 19.6094L14 15.8854L10.276 19.6094L8.39069 17.7241L12.1147 14.0001L8.39069 10.2761L10.276 8.39075L14 12.1147L17.724 8.39075L19.6094 10.2761L15.8854 14.0001L19.6094 17.7241Z"
          fill="#CCCCCC"
        />
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="assets/card-portfolio-4.png" alt="Trabajo-4" />
      <div class="portfolio-info">
        <h3>Proyect 4</h3>
        <p>
          In this oppórtunity I made a 3d model in blender of a presentation
          card. I animated and rendered it as an 8 sec video. It was a one week
          job.
        </p>
        <aside class="portfolio-details">
          <small><b>CLIENT</b></small>
          <small
            ><a href="https://ewol.academy/" target="_blank" rel="noopener"
              >Ewol</a
            ></small
          >
          <small><b>DATE</b></small>
          <small>17/11/2022</small>
          <small><b>CATEGORY</b></small>
          <small>NFT</small>
          <small><b>LINK</b></small>
          <small
            ><a
              href="https://www.behance.net/gallery/160504855/NFT"
              target="_blank"
              rel="noopener"
              >PROTOTIPE</a
            ></small
          >
        </aside>
      </div>
    </article>
  </div>
</article>
<article class="modal" id="trabajo-5">
  <div class="modal-content">
    <a href="#cerrar" class="modal-close">
      <svg
        width="28"
        height="28"
        viewBox="0 0 28 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14 0.666748C6.64802 0.666748 0.666687 6.64808 0.666687 14.0001C0.666687 21.3521 6.64802 27.3334 14 27.3334C21.352 27.3334 27.3334 21.3521 27.3334 14.0001C27.3334 6.64808 21.352 0.666748 14 0.666748ZM19.6094 17.7241L17.724 19.6094L14 15.8854L10.276 19.6094L8.39069 17.7241L12.1147 14.0001L8.39069 10.2761L10.276 8.39075L14 12.1147L17.724 8.39075L19.6094 10.2761L15.8854 14.0001L19.6094 17.7241Z"
          fill="#CCCCCC"
        />
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="assets/card-portfolio-5.png" alt="Trabajo-5" />
      <div class="portfolio-info">
        <h3>Proyect 5</h3>
        <p>
          For this proyect I used SolidWorks for modeling and blender to adjust
          product's details, create the enviroment, animate and render. Process
          took 3 weeks.
        </p>
        <aside class="portfolio-details">
          <small><b>CLIENT</b></small>
          <small>FAUD's Students</small>
          <small><b>DATE</b></small>
          <small>27/06/2021</small>
          <small><b>CATEGORY</b></small>
          <small>Product Visualization</small>
          <small><b>LINK</b></small>
          <small
            ><a
              href="https://www.behance.net/gallery/122362573/Animacion-para-proyecto-de-tesis"
              target="_blank"
              rel="noopener"
              >PROTOTIPE</a
            ></small
          >
        </aside>
      </div>
    </article>
  </div>
</article>
<article class="modal" id="trabajo-6">
  <div class="modal-content">
    <a href="#cerrar" class="modal-close">
      <svg
        width="28"
        height="28"
        viewBox="0 0 28 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14 0.666748C6.64802 0.666748 0.666687 6.64808 0.666687 14.0001C0.666687 21.3521 6.64802 27.3334 14 27.3334C21.352 27.3334 27.3334 21.3521 27.3334 14.0001C27.3334 6.64808 21.352 0.666748 14 0.666748ZM19.6094 17.7241L17.724 19.6094L14 15.8854L10.276 19.6094L8.39069 17.7241L12.1147 14.0001L8.39069 10.2761L10.276 8.39075L14 12.1147L17.724 8.39075L19.6094 10.2761L15.8854 14.0001L19.6094 17.7241Z"
          fill="#CCCCCC"
        />
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="assets/card-portfolio-6.jpg" alt="Trabajo-6" />
      <div class="portfolio-info">
        <h3>Proyect 6</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed
          sapiente, sunt minus ab quo, aliquid sequi aliquam laboriosam tenetur
          itaque voluptatum mollitia commodi doloribus pariatur nisi voluptates
          laborum voluptatem nulla!
        </p>
        <aside class="portfolio-details">
          <small><b>CLIENT</b></small>
          <small>Client's name</small>
          <small><b>DATE</b></small>
          <small>22/22/2222</small>
          <small><b>CATEGORY</b></small>
          <small>proyect CATEGORY</small>
          <small><b>LINK</b></small>
          <small
            ><a href="https://luchomoore.com" target="_blank" rel="noopener"
              >https://luchomoore.com</a
            ></small
          >
        </aside>
      </div>
    </article>
  </div>
</article>
